In [1]:
import numpy as np
import pandas as pd

In [2]:
ls

Assignment Brief AM41DP(1).pdf  Sp_epitopes.csv
Aston_coursework_file.ipynb     proteins.csv

In [3]:
ls

Assignment Brief AM41DP(1).pdf  Sp_epitopes.csv
Aston_coursework_file.ipynb     proteins.csv

In [4]:
prot_file = pd.read_csv("proteins.csv")
sp_file = pd.read_csv("Sp_epitopes.csv")

# A short summary of the dataset
## M1
    - Data cleaning and data insights from given two dataset

In [5]:
# Shape of the file for each file

In [6]:
prot_file.shape

(14194, 10)

In [7]:
sp_file.shape

(7105, 18)

In [8]:
# Check for any null value in the file

In [9]:
prot_file.isnull().sum()

TSeq_seqtype         0
TSeq_accver        209
TSeq_taxid           0
TSeq_orgname         0
TSeq_defline         0
TSeq_length          0
TSeq_sequence        0
UID                  0
DB                   0
TSeq_sid         12958
dtype: int64

- From above description it mentioned  **TSeq_accver**  and  **TSeq_sid**  have null values in it.

In [10]:
sp_file.isnull().sum()

pubmed_id         0
year              0
epit_name         0
epitope_id        0
evid_code         1
epit_struc_def    0
sourceOrg_id      0
protein_id        0
epit_seq          0
start_pos         0
end_pos           0
n_assays          0
host_id           0
bcell_id          0
assay_type        0
n_Positive        0
n_Negative        0
assay_class       0
dtype: int64

In [11]:
# Info for each dataset

In [12]:
prot_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14194 entries, 0 to 14193
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TSeq_seqtype   14194 non-null  object
 1   TSeq_accver    13985 non-null  object
 2   TSeq_taxid     14194 non-null  int64
 3   TSeq_orgname   14194 non-null  object
 4   TSeq_defline   14194 non-null  object
 5   TSeq_length    14194 non-null  int64
 6   TSeq_sequence  14194 non-null  object
 7   UID            14194 non-null  object
 8   DB             14194 non-null  object
 9   TSeq_sid       1236 non-null   object
dtypes: int64(2), object(8)
memory usage: 1.1+ MB

In [13]:
sp_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7105 entries, 0 to 7104
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   pubmed_id       7105 non-null   int64
 1   year            7105 non-null   int64
 2   epit_name       7105 non-null   object
 3   epitope_id      7105 non-null   int64
 4   evid_code       7104 non-null   object
 5   epit_struc_def  7105 non-null   object
 6   sourceOrg_id    7105 non-null   int64
 7   protein_id      7105 non-null   object
 8   epit_seq        7105 non-null   object
 9   start_pos       7105 non-null   int64
 10  end_pos         7105 non-null   int64
 11  n_assays        7105 non-null   int64
 12  host_id         7105 non-null   object
 13  bcell_id        7105 non-null   object
 14  assay_type      7105 non-null   object
 15  n_Positive      7105 non-null   int64
 16  n_Negative      7105 non-null   int64
 17  assay_class     7105 non-null   object
dtypes: int64(9), object(9)
memory usage: 999.3+ KB

- From above two dataset it is clear that data set have missing values in it .

In [14]:
# Describe the two dataset for all numerical attributes

In [15]:
prot_file.describe()

         TSeq_taxid   TSeq_length
count  1.419400e+04  14194.000000
mean   7.125339e+04    731.372974
std    2.240602e+05    984.979330
min    0.000000e+00      9.000000
25%    9.606000e+03    266.000000
50%    9.606000e+03    468.000000
75%    1.114900e+04    833.000000
max    2.768764e+06  35991.000000

In [16]:
prot_file.columns

Index(['TSeq_seqtype', 'TSeq_accver', 'TSeq_taxid', 'TSeq_orgname',
       'TSeq_defline', 'TSeq_length', 'TSeq_sequence', 'UID', 'DB',
       'TSeq_sid'],
      dtype='object')

In [17]:
sp_file.columns

Index(['pubmed_id', 'year', 'epit_name', 'epitope_id', 'evid_code',
       'epit_struc_def', 'sourceOrg_id', 'protein_id', 'epit_seq', 'start_pos',
       'end_pos', 'n_assays', 'host_id', 'bcell_id', 'assay_type',
       'n_Positive', 'n_Negative', 'assay_class'],
      dtype='object')

In [18]:
sp_file.head(3)

,pubmed_id,year,epit_name,epitope_id,evid_code,epit_struc_def,sourceOrg_id,protein_id,epit_seq,start_pos,end_pos,n_assays,host_id,bcell_id,assay_type,n_Positive,n_Negative,assay_class
0,7678505,1993,SK (42-49),114463,Representative selection,Exact Epitope,1314,AAB20743.1,LTSRPAHG,42,49,2,"96,069,606","16,746,431,674,584","34,34",2,0,"1,1"
1,26911649,2016,spy0469 P197,510898,Representative selection,Epitope containing region/antigenic site,1314,AAfK33481.1,AETTEVEPKTDISEA,197,211,1,9606,2728090,550,0,1,-1
2,26911649,2016,spy0469 P14,511327,Representative selection,Epitope containing region/antigenic site,1314,AAK33481.1,ALSLVPLATAQAQEW,14,28,1,9606,2727907,550,0,1,-1

In [19]:
prot_file.head(3)

,TSeq_seqtype,TSeq_accver,TSeq_taxid,TSeq_orgname,TSeq_defline,TSeq_length,TSeq_sequence,UID,DB,TSeq_sid
0,protein,0704243A,11320,Influenza A virus,hemagglutinin HA1,328,EYLPGNDNSTATLCLGHHAVPNGTLVKTITNDQIEVTNATELVQSS...,0704243A,NCBI protein,NaN
1,protein,P06914.1,73239,Plasmodium yoelii yoelii,RecName: Full=Circumsporozoite protein; Short=...,367,MKKCTILVVASLLLVDSLLPGYGQNKSVQAQRNLNELCYNEENDNK...,P06914.1,NCBI protein,NaN
2,protein,P03449.2,383586,Influenza A virus (A/Memphis/1/1971(H3N2)),RecName: Full=Hemagglutinin; Contains: RecName...,566,MKTIIALSHIFCLVLGQYLPGNDNSTATLCLGHHAVPNGTLVKTIT...,P03449.2,NCBI protein,NaN

In [20]:
sp_file.describe()

,pubmed_id,year,epitope_id,sourceOrg_id,start_pos,end_pos,n_assays,n_Positive,n_Negative
count,7.105000e+03,7105.000000,7105.000000,7105.000000,7105.000000,7105.000000,7105.000000,7105.000000,7105.000000
mean,2.662528e+07,2015.682336,512126.174806,2158.855735,310.544265,324.584659,1.005348,0.043350,0.961999
std,2.210198e+06,2.471744,63823.520147,15902.596912,249.941165,249.943675,0.099121,0.232691,0.191213
min,2.677144e+06,1989.000000,263.000000,1314.000000,1.000000,15.000000,1.000000,0.000000,0.000000
25%,2.691165e+07,2016.000000,515323.000000,1314.000000,119.000000,133.000000,1.000000,0.000000,1.000000
50%,2.691165e+07,2016.000000,520794.000000,1314.000000,258.000000,272.000000,1.000000,0.000000,1.000000
75%,2.691165e+07,2016.000000,525262.000000,1314.000000,426.000000,440.000000,1.000000,0.000000,1.000000
max,3.178798e+07,2019.000000,956369.000000,301449.000000,1168.000000,1182.000000,5.000000,4.000000,1.000000

# Adequately join the protein sequences onto the epitopes table

## M2  
### i

In [25]:
# Using the join operation to join sp_file over prod_file 
prod_sp=prot_file.merge(sp_file, left_on='UID', right_on='protein_id',how='inner')
prod_sp.shape

(7100, 28)

   After join the shape of **prod_sp** is **7100 Rows, 28 Columns**

## ii

In [ ]:
#epit_seq  start_pos  end_pos  TSeq_sequence  epit_seq_actual

In [28]:
prod_sp.head(2)

,TSeq_seqtype,TSeq_accver,TSeq_taxid,TSeq_orgname,TSeq_defline,TSeq_length,TSeq_sequence,UID,DB,TSeq_sid,...,epit_seq,start_pos,end_pos,n_assays,host_id,bcell_id,assay_type,n_Positive,n_Negative,assay_class
0,protein,P02977.2,301449,Streptococcus pyogenes serotype M5,"RecName: Full=M protein, serotype 5; Flags: Pr...",492,MARENTNKHYWLRKLKKGTASVAVALSVLGAGLVVNTNEVSAAVTR...,P02977.2,NCBI protein,NaN,...,DLDASREAKKQLEAEQQKLE,305,324,2,"96,069,606","18,175,891,819,398","34,34",2,0,"1,1"
1,protein,P02977.2,301449,Streptococcus pyogenes serotype M5,"RecName: Full=M protein, serotype 5; Flags: Pr...",492,MARENTNKHYWLRKLKKGTASVAVALSVLGAGLVVNTNEVSAAVTR...,P02977.2,NCBI protein,NaN,...,GLRRDLDASREAKKQLEAEQ,301,320,2,"96,069,606","18,175,841,819,393","34,34",2,0,"1,1"

In [29]:
prod_sp.epit_seq[0]

'DLDASREAKKQLEAEQQKLE'

In [30]:
prod_sp.TSeq_sequence[0]

'MARENTNKHYWLRKLKKGTASVAVALSVLGAGLVVNTNEVSAAVTRGTINDPQRAKEALDKYELENHDLKTKNEGLKTENEGLKTENEGLKTENEGLKTEKKEHEAENDKLKQQRDTLSTQKETLEREVQNTQYNNETLKIKNGDLTKELNKTRQELANKQQESKENEKALNELLEKTVKDKIAKEQENKETIGTLKKILDETVKDKIAKEQENKETIGTLKKILDETVKDKLAKEQKSKQNIGALKQELAKKDEANKISDASRKGLRRDLDASREAKKQLEAEHQKLEEQNKISEASRKGLRRDLDASREAKKQLEAEQQKLEEQNKISEASRKGLRRDLDASREAKKQVEKALEEANSKLAALEKLNKELEESKKLTEKEKAELQAKLEAEAKALKEQLAKQAEELAKLRAGKASDSQTPDTKPGNKAVPGKGQAPQAGTKPNQNKAPMKETKRQLPSTGETANPFFTAAALTVMATAGVAAVVKRKEEN'