In [4]:
import numpy as np
import pandas as pd

In [6]:
A="Data"
B="Analytics"
C="Enginerring"
print("{0} {1} is most have some most difficult subject for {2}".format(A,B,C))

Data Analytics is most have some most difficult subject for Enginerring

In [9]:
lst=["Rayn","Adam","Niyle","James"]
lst.pop(0)
lst

['Adam', 'Niyle', 'James']

In [24]:
string="My name is Pawan Kumar rai . I am just check is split function working properly"
string=string.split(' ')
string

['My',
 'name',
 'is',
 'Pawan',
 'Kumar',
 'rai',
 '.',
 'I',
 'am',
 'just',
 'check',
 'is',
 'split',
 'function',
 'working',
 'properly']

In [28]:
join_string=" ".join(string)
join_string

'My name is Pawan Kumar rai . I am just check is split function working properly'

In [30]:
lst1=["Hi"]
print(lst1*5)

['Hi', 'Hi', 'Hi', 'Hi', 'Hi']

In [31]:
print(lst1+lst1)

['Hi', 'Hi']

In [36]:
lst2=[4,6,3,7,12,6,8,9,4,3,6,7]
print(sorted(lst2))

[3, 3, 4, 4, 6, 6, 6, 7, 7, 8, 9, 12]

In [37]:
print(min(lst2))
print(max(lst2))

3
12

In [40]:
lst3= ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] 
print(" & ".join(lst3))

Pythons syntax is easy to learn & Pythons syntax is very clear

In [42]:
list_input_list =  [['SAS','R'],['Tableau','SQL'],['Python','Java']]
print(list_input_list[2][0])

Python

In [43]:
new_tup=("Pawan",111,23,43)

In [45]:
# Can't update new values in tuples
new_tup[2]=23

TypeError: 'tuple' object does not support item assignment

In [54]:
dict_1={"Name":"Pawan","Age":"28","College":"Aston_University"}

In [55]:
dict_1["College"]="Birmingham University"

In [65]:
a=dict_1.get('Country','NA')
print(a)

NA

In [66]:
dict_1.keys()

dict_keys(['Name', 'Age', 'College'])

In [67]:
dict_1.values()

dict_values(['Pawan', '28', 'Birmingham University'])

In [68]:
new_dict=dict(Country_name="India",Songs=["Love ajj kal","Gaal nhi katni","Rockstart"],Actor=["Amitabh Bacchan","Salman Khan","Ranbir Kapoor","Akshy Kumar"])

In [69]:
new_dict

{'Country_name': 'India',
 'Songs': ['Love ajj kal', 'Gaal nhi katni', 'Rockstart'],
 'Actor': ['Amitabh Bacchan', 'Salman Khan', 'Ranbir Kapoor', 'Akshy Kumar']}

In [73]:
# for i in range(100):
#     print(i)
#     if i>50:
#         continue
#         print("Hello")

In [77]:
new_list=[i**2 for i in range(1,11)]
new_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [80]:
def addition(*args):
    print(args)
    return(sum(args))

In [81]:
for i in range(1,200):
    addition(i)

(1,)
(2,)
(3,)
(4,)
(5,)
(6,)
(7,)
(8,)
(9,)
(10,)
(11,)
(12,)
(13,)
(14,)
(15,)
(16,)
(17,)
(18,)
(19,)
(20,)
(21,)
(22,)
(23,)
(24,)
(25,)
(26,)
(27,)
(28,)
(29,)
(30,)
(31,)
(32,)
(33,)
(34,)
(35,)
(36,)
(37,)
(38,)
(39,)
(40,)
(41,)
(42,)
(43,)
(44,)
(45,)
(46,)
(47,)
(48,)
(49,)
(50,)
(51,)
(52,)
(53,)
(54,)
(55,)
(56,)
(57,)
(58,)
(59,)
(60,)
(61,)
(62,)
(63,)
(64,)
(65,)
(66,)
(67,)
(68,)
(69,)
(70,)
(71,)
(72,)
(73,)
(74,)
(75,)
(76,)
(77,)
(78,)
(79,)
(80,)
(81,)
(82,)
(83,)
(84,)
(85,)
(86,)
(87,)
(88,)
(89,)
(90,)
(91,)
(92,)
(93,)
(94,)
(95,)
(96,)
(97,)
(98,)
(99,)
(100,)
(101,)
(102,)
(103,)
(104,)
(105,)
(106,)
(107,)
(108,)
(109,)
(110,)
(111,)
(112,)
(113,)
(114,)
(115,)
(116,)
(117,)
(118,)
(119,)
(120,)
(121,)
(122,)
(123,)
(124,)
(125,)
(126,)
(127,)
(128,)
(129,)
(130,)
(131,)
(132,)
(133,)
(134,)
(135,)
(136,)
(137,)
(138,)
(139,)
(140,)
(141,)
(142,)
(143,)
(144,)
(145,)
(146,)
(147,)
(148,)
(149,)
(150,)
(151,)
(152,)
(153,)
(154,)
(155,)
(156,)
(157,)
(158,)
(159,)
(160,)
(161,)
(162,)
(163,)
(164,)
(165,)
(166,)
(167,)
(168,)
(169,)
(170,)
(171,)
(172,)
(173,)
(174,)
(175,)
(176,)
(177,)
(178,)
(179,)
(180,)
(181,)
(182,)
(183,)
(184,)
(185,)
(186,)
(187,)
(188,)
(189,)
(190,)
(191,)
(192,)
(193,)
(194,)
(195,)
(196,)
(197,)
(198,)
(199,)

In [84]:
def proper(text):
    some_text=[word[0].upper() +word[1:] for word in text.split()]
    return some_text

In [85]:
text="My name is Pawan Kumar Rai and i am Aston student"
proper(text)

['My',
 'Name',
 'Is',
 'Pawan',
 'Kumar',
 'Rai',
 'And',
 'I',
 'Am',
 'Aston',
 'Student']